/* CSS Document by Shaorui */
* {
	margin:0;
	padding:0;
}
html {
	width:100%;
	height:100%;
	overflow-x:hidden;
}
body {
	height:100%;
	margin:0;
	padding:0;
	font-size:10pt;
	background:#CCC;
	color:#333;
	overflow:auto;
	overflow-x:hidden;
}
body#index {
	border-left:200px solid #333333;
}
body#page {
	padding:20px;
	height:auto;
}
a {
	color:#0D324F;
}
input {
	font-size:24px;
	background:#F4F4F4;
	border:1px solid #A5ACB2;
	height:30px;
	overflow:hidden;
}
input.bt {
	height:40px;
	padding:4px;
	border:3px double #CCC;
	border-right-color:#999;
	border-bottom-color:#999;
	background:url(http://www.richbox.net/blog/wp-admin/images/fade-butt.png) #EEE repeat-x left top;
}
input.checkbox {
	border:none;
}
textarea,select {
	background:#F4F4F4;
	border:none;
}
table {
	margin:8px auto;
	border-collapse:collapse;
}
th,td {
	padding:6px;
	vertical-align:middle;
	border:1px dotted #DDD;
	border-collapse:collapse;
}
th {
	background:#DFDFDF;
}
td {
	background:#F1F1F1;
}
h1 {
	position:absolute;
	width:180px;
	color:#525252;
	font-size:12pt;
	left:0;
	padding:10px 0 8px 20px;
	border-bottom:3px solid #525252;
}
h2 {
	background:#666;
	font-size:12px;
	padding:8px;
	color:#FFF;
}
/**/
#loginForm {
	width:400px;
	height:300px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-150px 0 0 -200px;
	background:#FFF;
	border:3px solid #999;
}
#loginForm h3 {
	background:#000;
	color:#FFF;
	margin:0 0 30px 0;
	padding:10px;
}
#loginForm label {
	display:block;
	padding:12px 40px;
}
#loginForm label span {
	display:block;
	position:absolute;
	padding:8px 0 0 0;
}
#loginForm label input {
	width:200px;
	margin:0 0 0 70px;
}
#globalNav {
	position:absolute;
	top:3px;
	left:2px;
}
#globalNav li a{
	display:block;
	width:180px;
	padding:10px;
	background:#666;
	border-bottom:3px solid #525252;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}
#globalNav li a:hover{
	background:#585858;
	border-right:3px solid #333;
}
#globalNav li ul li a{
	background:#585858;
}
#globalNav li ul li a:hover{
	background:#666;
}
#frameBord {
	border-left:3px solid #666;
}
